// Needed because github switched the default branch name to "main" from "master" and there is a hardcoded bug in nextflow
manifest.defaultBranch = 'main'

// Default all process(es) to use the parallel environment 'serial'
process.penv = "serial"

// Input
params.organism = "Homo sapiens"
params.lowReadsThreshold = 1000

// Defaults
params.chromosomes = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "X", "Y", "M"]

// Step To Run -- Override this in the yaml file if you are only running a limited number of steps
params.stepsToRun = ["STAR", "Analysis"]

// Analysis -- Override this in the yaml file if you only want to run a limited number of analysis
params.analysisToRun = ["RSEM", "Junctions", "VCF", "QC", "BigWig"]

process {
  debug = true
}

profiles {
	includeConfig './config/profiles/instanceSize/instanceSizeLow.config'
	includeConfig './config/profiles/instanceSize/instanceSizeHigh.config'
	
	includeConfig './config/profiles/executor/executorLocal.config'
	includeConfig './config/profiles/executor/executorGridEngine.config'

	includeConfig './config/profiles/environment/environmentCentOS7.config'
	includeConfig './config/profiles/environment/environmentUbuntu22.config'
	includeConfig './config/profiles/environment/environmentContainer.config'
}

includeConfig './config/help.message'





