environmentUbuntu22 {

	//  Modules
	initModules = "modules:modules-init:modules-gs"
	starModule = "STAR/2.6.1d"
	sambambaModule = "sambamba/0.6.8"
	samtoolsModule = "samtools/1.19"
	rsemModule = "RSEM/1.3.1"
	picardModule = "picard/3.0.0"
	rModule = "R/4.3.2"
	rnaseqcModule = "rnaseqc/2.3.3"
	gatkModules = "python/3.12.1:GATK/4.5.0.0"
	tabixModule = "tabix/0.2.6"
	deepToolsModules = "python/3.12.1:kiwisolver/1.4.5:deepTools/3.1.1"
	

	process {
		withName: 'STAR' {
			module = "${initModules}:${starModule}"
		}
		withName: 'SAMBAMBA_SORT' {
			module = "${initModules}:${sambambaModule}"
		}
		withName: 'CHECK_MAPPED_READ_COUNT' {
			module = "${initModules}:${samtoolsModule}"
		}
		withName: 'RSEM' {
			module = "${initModules}:${rsemModule}"
		}
		withName: 'JUNCTIONS_BED' {
			memory = "20G"
		}
		withName: 'PICARD_MARK_DUPLICATES' {
			module = "${initModules}:${picardModule}"
		}
		withName: 'DEEPTOOLS_BAM_COVERAGE' {
			module = "${initModules}:${deepToolsModules}"
		}
		withName: 'GATK_SPLIT_N_CIGAR_READS' {
			module = "${initModules}:${gatkModules}"
		}
		withName: 'GATK_HAPLOTYPE_CALLER' {
			module = "${initModules}:${gatkModules}"
		}
		withName: 'GATK_VARIANT_FILTRATION' {
			module = "${initModules}:${gatkModules}:${tabixModule}"
		}
		withName: 'PICARD_INSERT_SIZE' {
			module = "${initModules}:${picardModule}:${rModule}"
		}
		withName: 'RNASEQC' {
			module = "${initModules}:${rnaseqcModule}"
		}
		
	}
}
