environmentCentOS7 {

	//  Modules
	initModules = "modules:modules-init:modules-gs"
	fastxModule = "fastx-toolkit/0.0.14"
	starModule = "STAR/2.6.1d"
	sambambaModule = "sambamba/0.6.8"
	samtoolsModule = "samtools/1.19"
	rsemPreReqModules = "gcc/8.1.0:python/3.6.4:bowtie2/2.2.3:R/3.5.1:STAR/2.6.1c:perl/5.24.0"
	rsemModule = "RSEM/1.3.1"
	picardModule = "picard/3.0.0"
	gccModule = "gcc/8.1.0"
	rModule = "R/3.5.1"
	rnaseqcModule = "rnaseqc/2.3.3"
	gatkModule = "GATK/4.2.0.0"
	tabixModule = "tabix/0.2.6"
	deepToolsModules = "python/3.6.4:deepTools/3.1.1"
	

	process {
		withName: 'FASTX_QC' {
			module = "${initModules}:${fastxModule}"
		}
		withName: 'STAR' {
			module = "${initModules}:${starModule}"
		}
		withName: 'SAMBAMBA_SORT' {
			module = "${initModules}:${sambambaModule}"
		}
		withName: 'CHECK_MAPPED_READ_COUNT' {
			module = "${initModules}:${samtoolsModule}"
		}
		withName: 'RSEM' {
			module = "${initModules}:${rsemPreReqModules}:${rsemModule}"
		}
		withName: 'PICARD_MARK_DUPLICATES' {
			module = "${initModules}:${picardModule}"
		}
		withName: 'DEEPTOOLS_BAM_COVERAGE' {
			module = "${initModules}:${deepToolsModules}"
		}
		withName: 'GATK_SPLIT_N_CIGAR_READS' {
			module = "${initModules}:${gatkModule}"
		}
		withName: 'GATK_HAPLOTYPE_CALLER' {
			module = "${initModules}:${gatkModule}"
		}
		withName: 'GATK_VARIANT_FILTRATION' {
			module = "${initModules}:${gatkModule}:${tabixModule}"
		}
		withName: 'PICARD_INSERT_SIZE' {
			module = "${initModules}:${picardModule}:${gccModule}:${rModule}"
		}
		withName: 'RNASEQC' {
			module = "${initModules}:${rnaseqcModule}"
		}
		
	}
}
