instanceSizeLow {
	process {
		// Map-merge
		withName: 'STAR' {
			memory = "2G"
			cpus = 1
		}
		withName: 'SAMBAMBA_SORT' {
			memory = "2G"
			cpus = 1
		}
		withName: 'CHECK_MAPPED_READ_COUNT' {
			memory = "2G"
		}
		
		// Analysis
		withName: 'RSEM' {
			memory = "2G"
			cpus = 1
		}
		withName: 'JUNCTIONS_BED' {
			memory = "2G"
		}
		withName: 'PICARD_MARK_DUPLICATES' {
			memory = "2G"
		}
		
		// Analysis using Picard Mark Duplicates output
		// BigWig
		withName: 'DEEPTOOLS_BAM_COVERAGE' {
			// memory and error strategy are defined in the process itself as they use task.attempt and task.exitStatus
			maxRetries = 1
		}
		
		// Call Variants
		withName: 'GATK_SPLIT_N_CIGAR_READS' {
			memory = 2G
		}
		withName: 'GATK_HAPLOTYPE_CALLER' {
			memory = 2G
		}
		withName: 'GATK_VARIANT_FILTRATION' {
			memory = 2G
		}
		
		// QC
		withName: 'PICARD_INSERT_SIZE' {
			memory = "2G"
		}
		withName: 'RNASEQC' {
			memory = "2G"
		}
	}
}
