executorGridEngine {
	// Executor
	executor.name = 'sge'
	executor.jobName = { "${task.tag}" }

	// Grid Engine
	clusterProject = "rna"
	defaultClusterOptions = "-S /bin/bash -P $clusterProject -m as -r yes -R yes";

	process {
		// Default cluster options with 1 hour run time for all processes
		clusterOptions = "$defaultClusterOptions -l d_rt=1:0:0"

		// Processes that have a different projected run time than the default
		withName: 'STAR' {
			modclusterOptions = "$defaultClusterOptions -l d_rt=2:0:0"
		}
		
	}
}
